__pycache__/
*.pyc
results/
venv/
LIBERO-plus/
assets.zip
submission/lerobot/
submission/model_weights/
submission/base_model/
libero_plus_dataset/
libero_spatial_dataset/
libero_spatial_dataset_ex/
model_weight_house/